In [1]:
import numpy as np
import pandas as pd
db=pd.read_csv(r'C:/Users/91797/Desktop/all visual studio codes/projects/machine_learning/ytb_channel_recommendor/most_subscribed_youtube_channels.csv')

In [2]:
db.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013

In [3]:
db

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
995,996,JP Plays,"10,900,000","4,609,300,218","3,528",Gaming,2014
996,997,TrapMusicHDTV,"10,900,000","4,070,521,973",690,Music,2013
997,998,Games EduUu,"10,900,000","3,093,784,767","1,006",Gaming,2011
998,999,Hueva,"10,900,000","3,040,301,750",831,Gaming,2012
999,1000,Dobre Brothers,"10,900,000","2,808,411,693",590,People & Blogs,2017

In [4]:
categ=list(db['category'].unique())

In [5]:
print(len(categ))

19

In [6]:
categories=list(db['category'])

In [7]:
categories.count('Nonprofits & Activism')

2

In [8]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Youtuber     1000 non-null   object
 2   subscribers  1000 non-null   object
 3   video views  1000 non-null   object
 4   video count  1000 non-null   object
 5   category     973 non-null    object
 6   started      1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [9]:
final=db[['rank','Youtuber','category']]

In [10]:
final

     rank                    Youtuber          category
0       1                    T-Series             Music
1       2              YouTube Movies  Film & Animation
2       3  Cocomelon - Nursery Rhymes         Education
3       4                   SET India             Shows
4       5                       Music               NaN
..    ...                         ...               ...
995   996                    JP Plays            Gaming
996   997               TrapMusicHDTV             Music
997   998                 Games EduUu            Gaming
998   999                       Hueva            Gaming
999  1000              Dobre Brothers    People & Blogs

[1000 rows x 3 columns]

In [11]:
final.isnull().sum()

rank         0
Youtuber     0
category    27
dtype: int64

In [12]:
final.dropna(inplace=True)

C:\Users\91797\AppData\Local\Temp\ipykernel_13428\4074731982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.dropna(inplace=True)

In [13]:
final.isnull().sum()

rank        0
Youtuber    0
category    0
dtype: int64

In [14]:
final.shape

(973, 3)

In [15]:
final.duplicated().sum()

0

In [16]:
final

     rank                    Youtuber          category
0       1                    T-Series             Music
1       2              YouTube Movies  Film & Animation
2       3  Cocomelon - Nursery Rhymes         Education
3       4                   SET India             Shows
5       6                   PewDiePie            Gaming
..    ...                         ...               ...
995   996                    JP Plays            Gaming
996   997               TrapMusicHDTV             Music
997   998                 Games EduUu            Gaming
998   999                       Hueva            Gaming
999  1000              Dobre Brothers    People & Blogs

[973 rows x 3 columns]

In [17]:
type(final)
import ast

In [18]:
out=[]
def output(categ,limit):
    count=0
    for i in range(973):
        if final.iloc[i].Youtuber.lower()==categ.lower() and count<limit:
            out.append(final.iloc[i].category)
            count+=1
    return out    
res=output('CarryMinati',30)
print(res)

['Comedy']

In [19]:
import pickle
pickle.dump(final.to_dict(),open('category.pkl','wb'))